@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');

html * {
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

p, span, li {
    font-weight: 400;
    font-size: 1.4rem
}

a {
    color: #157DEC;
    text-decoration: none;
}

a:hover {
    color: #555555;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    margin-top: 40px;
}

.quizMainContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.quizBtn {
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.quizTopHeader {
    padding: 20px 0 20px 0;
}

.quizTimer {
    text-align: right;
}

.quizTimer span {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

    #qTimer {
        letter-spacing: 3px;
        font-size: 2rem;
        line-height: 24px;
    }

.quizOptions ol {
    color: #cccccc;
    list-style-type: lower-roman;
}

.quizOptions ol li {
    margin-bottom: 5px;
}

.quizOptions ol li a {
    display: block;
    background: #fafafa;
    border: 1px solid #dedede;
    padding: 5px 15px 5px 15px;
}

.quizOptions ol li a:hover {
    background: #eeeeee;
}


.quizOptions ol li.correct,
.quizOptions ol li.correct a,
.quizOptions ol li.correct a:hover {
    color: #ffffff;
    text-decoration: none;
    background: #4AA02C;
    border: 1px solid #347235;
}

.quizOptions ol li.incorrect,
.quizOptions ol li.incorrect a,
.quizOptions ol li.incorrect a:hover {
    color: #9F000F;
    text-decoration: none;
    background: #F62217;
    border: 1px solid #9F000F;
}

.quizComplete {
    width: 50%;
}

.quizComplete input {
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    color: #666666;
    font-weight: bold;
    font-size: 1.5rem;
}